.invoice-info-container {
  max-width: 82.5%;
  margin: 0 auto;
  position: relative;
}

.preview-invoice-title {
  height: 29px;
  max-width: 154px;
  border-radius: 4px;
  background: #2e2e99;
  font-size: 0.95rem;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.87);
  padding: 1px 7px;
  margin-top: 40px;
}

.request-info-subtitle {
  margin: 15px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #606077;
}

.invoice-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.invoice-form-one {
  max-width: 580px;
  height: 488px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 30px;
}

.invoice-form-two {
  max-width: 580px;
  height: 488px;
  background: #ffffff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 30px;
}

form .form-col {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

label {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 27px;
  color: #373737;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.form-col input {
  max-width: 500px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dea000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 20px;
}

.mid-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.mid-col input {
  max-width: 240px;
  height: 60px;
  border: 1px solid #dea000;
  box-sizing: border-box;
  border-radius: 5px;
}

.amount .field {
  max-width: 240px;
  height: 60px;
  border: 1px solid #dea000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 20px;
  border: none;
  background: #ededed;
  border-radius: 5px;
}

.field p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 165.5%;
  color: #606077;
}

.actions {
  max-width: 580px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin: 15px 0 30px;
}

.go-back input {
  width: 100%;
  height: 60px;
  background: none;
  border: 2px solid #01037c;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  color: #01037c;
  font-weight: bold;
}

.customer input {
  width: 100%;
  height: 60px;
  background: #dea000;
  border: 1px solid #dea000;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .invoice-info-container {
    max-width: 100%;
    padding: 30px;
  }

  .invoice-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    margin-top: 5px;
  }

  .invoice-form-one {
    max-width: 100%;
    height: 400px;
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 30px;
  }

  .invoice-form-two {
    max-width: 100%;
    height: 500px;
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 30px;
  }

  form .form-col {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 27px;
    color: #373737;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .form-col input {
    max-width: 100%;
    height: 60px;
    background: #ffffff;
    border: 1px solid #dea000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px;
  }

  .mid-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .mid-col input {
    max-width: 100%;
    height: 60px;
    border: 1px solid #dea000;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .amount .field {
    max-width: 100%;
  }

  .actions {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin: 15px 0 30px;
  }
}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .invoice-info-container {
    max-width: 85%;
    margin: 0 auto;
    position: relative;
  }

  .invoice-form form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    margin-top: 5px;
  }

  .invoice-form-one {
    max-width: 100%;
    height: 488px;
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 20px;
  }

  .invoice-form-two {
    max-width: 100%;
    height: 788px;
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 20px;
  }

  form .form-col {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 27px;
    color: #373737;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }

  .form-col input {
    max-width: 500px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #dea000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 20px;
  }

  .mid-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }

  .mid-col input {
    max-width: 500px;
    height: 60px;
    border: 1px solid #dea000;
    box-sizing: border-box;
    border-radius: 5px;
  }

  .amount .field {
    max-width: 500px;
  }
}
